---
###############################################################################
# sysctl
###############################################################################
# Test sysctl settings.
#
# Args:
#   test_name: str - Test base name.
#   test_option: str - sysctl option to test.
#   test_value: bool - sysctl expected option value.
#   test_diff: bool - Display file diff on failure? Default: False.

- name: '{{ test_name }} | check requirements'  # noqa name[template]
  ansible.builtin.assert:
    quiet: true
    that:
      - test_name | length > 0
      - test_option | length > 0
      - test_value | length > 0
    fail_msg: |
      ╭───────────────────────────────────────────────────────────────────╮
      │                                                                   │
      │                        tests.copy requires                        │
      │                                                                   │
      ├───────────────────────────────────────────────────────────────────╯
      │ test_name: '{{ test_name }}'
      │ test_option: '{{ test_option }}'
      │ test_value: '{{ test_value }}'

- name: '{{ test_name }} | query'  # noqa name[template]
  ansible.builtin.command:
    argv:
      - 'sysctl'
      - '--values'
      - '{{ test_option }}'
  register: _tests_result
  changed_when: false

- name: '{{ test_name }} | assert'  # noqa name[template]
  ansible.builtin.assert:
    quiet: true
    that:
      - _tests_result.stdout == test_value
    fail_msg: |
      ╭───────────────────────────────────────────────────────────────────╮
      │                                                                   │
      │                           TEST FAILED.                            │
      │                                                                   │
      ├───────────────────────────────────────────────────────────────────╯
      │ sysctl should report {{ test_option }}={{ test_value }}
      │
      │ {{ _tests_result.stdout if test_diff | default(false) else "" }}
